<div data-active-color="black" data-background-color="white" data-image="" class="app-sidebar">
    <!-- main menu header-->
    <!-- Sidebar Header starts-->
    <div class="sidebar-header">
        <div class="logo clearfix"><a href="/admin" class="logo-text float-left">
            <div class="logo-img"><img src="static/img/Icon_Only_48x48_color.png"/></div><span class="text align-middle">CONNECSI</span></a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="ft-toggle-right toggle-icon"></i></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-x"></i></a></div>
    </div>
    <!-- Sidebar Header Ends-->
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="sidebar-content">
        <div class="nav-container">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class="has-sub nav-item"><a href="/admin"><i class="ft-home"></i><span data-i18n="" class="menu-title">Dashboard</span><span class="tag badge badge-pill badge-danger float-right mr-1 mt-1">2</span></a>
                    <!--<ul class="menu-content">-->
                        <!--<li class="active"><a href="dashboard1.html" class="menu-item">Analytics</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;<li><a href="dashboard2.html" class="menu-item">Dashboard2</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--</ul>-->
                </li>
                <li class=" nav-item"><a href="#"><i class="ft-message-square"></i><span data-i18n="" class="menu-title">Partners</span></a>
                </li>
                <li class=" nav-item"><a href="inbox.html"><i class="ft-mail"></i><span data-i18n="" class="menu-title">Inbox</span></a>
                </li>
                <li class=" nav-item"><a href="chat.html"><i class="ft-message-square"></i><span data-i18n="" class="menu-title">Chat</span></a>
                </li>
                <li class="has-sub nav-item"><a href="/campaigns"><i class="ft-home"></i><span data-i18n="" class="menu-title">Campaigns</span><span class="tag badge badge-pill badge-danger float-right mr-1 mt-1">2</span></a>
                    <ul class="menu-content">
                        <li class="active"><a href="dashboard1.html" class="menu-item">Analytics</a>
                        </li>
                        <!--<li><a href="dashboard2.html" class="menu-item">Dashboard2</a>-->
                        <!--</li>-->
                    </ul>
                </li>

                <!--<li class=" nav-item"><a href="https://pixinvent.com/apex-angular-4-bootstrap-admin-template/documentation"><i class="ft-book"></i><span data-i18n="" class="menu-title">Documentation</span></a>-->
                <!--</li>-->
                <li class=" nav-item"><a href="https://connecsisupport.com/"><i class="ft-life-buoy"></i><span data-i18n="" class="menu-title">Support</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- main menu content-->
    <div class="sidebar-background"></div>
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>